*.suo
*.cache
obj/Debug/*
bin/Debug/*
packages/*
TestingApp.config
Tests/Tests/obj/Debug/*
Tests/Tests/bin/Debug/
Tests/Tests/App.config
Magento/bin/*
Magento/packages/*
Magento/obj/*
Magento/Tests/Tests/bin
Magento/Tests/Tests/obj
.DS_Store
*/target/*
.classpath
.project
.settings/
target/
.externalToolBuilders/
.idea
.idea/*
*.iml
node_modules
npm-debug.log
Shopify/ShopifyApp/dev-settings.json
Shopify/ShopifyApp/test.js
Shopify/WebhookUpdater/WebhookUpdater/App.config
Shopify/WebhookUpdater/WebhookUpdater/obj/*
Shopify/WebhookUpdater/packages/*
Shopify/WebhookUpdater/WebhookUpdater/bin/*
