<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="FieldMapping" type="System.Configuration.NameValueSectionHandler" />
		<section name="ManufacturerMapping" type="System.Configuration.NameValueSectionHandler" />
		<section name="CategoryMapping" type="System.Configuration.NameValueSectionHandler" />
		<section name="ColorMapping" type="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<!--
			This section maps Fields in Magento with FieldDefinitions in EA
			Key = Name of field in Magento
			Value = Identifier of FieldDefinition in EA
			
			Generally speaking, this section is used for base fields on a Magento product, such as name, description, etc
		-->
	<FieldMapping>
		<add key="description" value=""/>
		<add key="color" value=""/>
		<add key="name" value=""/>
		<add key="material" value=""/>
		<add key="short_description" value=""/>
	</FieldMapping>

	<!--
			This section maps Manufacturer options in Magento with Manufacturers in EA
			Key = Magento Manufacturer Option ID
			Value = Identifier of matchingManufacturer in EA
		-->
	<ManufacturerMapping>
		<add key="" value=""/>
	</ManufacturerMapping>

	<!--
			This section maps Categories in Magento with Categories in EA
			Key = Magento Category Id
			Value = Identifier of matching Classification ONLY in EA
		-->
	<CategoryMapping>
		<add value="" key=""/>
	</CategoryMapping>

	<!--
			This section maps Colors in Magento with ColorTags in EA
			Key = Magento Color option Id
			Value = Identifier of matching ColorTag in EA
		-->
	<ColorMapping>
		<add value="" key=""/>
	</ColorMapping>

	<appSettings>

		<!-- Endless Aisle -->
		<add key="EA_Environment" value="demo" />
		<add key="EA_ClientSecret" value="" />
		<add key="EA_ClientId" value="" />
		<add key="EA_Username" value="" />
		<add key="EA_Password" value="" />
		<add key="EA_CompanyId" value="" />
		<add key="EA_LocationId" value="" />
		<add key="EA_ClassificationTreeId" value="" />
		<add key="EA_GrantType" value="password"/>

		<add key="MappingCode" value="iqmetrixproductidentifier" />

		<!-- Magento -->
		<add key="Magento_ServerPath" value="C:/inetpub/wwwroot" />
		<add key="Magento_Url" value="http://localhost:82/" />
		<add key="Magento_Username" value="" />
		<add key="Magento_Password" value="" />
		<add key="Magento_CustomerId" value=""/>
		<add key="Magento_ManufacturerCode" value="manufacturer" />
		<add key="Magento_CategoryCode" value="category_ids" />
		<add key="Magento_DescriptionCode" value="description" />
		<add key="Magento_CreatedAtProperty" value="created_at" />
		<add key="Magento_UpdatedAtProperty" value="updated_at" />
		<add key="Magento_GreaterThanCondition" value="gt" />
		<add key="Magento_EqualsCondition" value="eq" />
		<add key="Magento_SearchDateString" value="yyyy-MM-dd hh:mm:ss" />
		<add key="Magento_ConfigurableTypeId" value="configurable" />
		<add key="Magento_AttrCodeName" value="attribute_code" />
		<add key="Magento_NameCode" value="name" />
		<add key="Magento_ColorCode" value="color"/>
		<add key="Magento_MaterialCode" value="material"/>
		<add key="Magento_ImageCode" value="image"/>
		<add key="Magento_ShippingCode" value="flatrate"/>
		<add key="Magento_PaymentMethod" value="checkmo"/>

		<!--Database values only need to be filled if Magento_DatabaseStorageConfiguration is true-->
		<add key="Magento_DatabaseStorageConfiguration" value="false"/>
		<add key="Magento_DatabaseServer" value=""/>
		<add key="Magento_DatabaseName" value=""/>
		<add key="Magento_DatabaseUserId" value=""/>
		<add key="Magento_DatabasePassword" value=""/>
		<add key="Magento_DatabasePort" value="3306"/>

		<!-- Classification Mapping -->

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
